@model ASP.NETCore_Exercise10.Models.Aircraft

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aircraft</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProductNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProductNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Model)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaxMaxSeating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaxMaxSeating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypicalSeating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypicalSeating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CargoD3capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CargoD3capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxPalletNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxPalletNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WaterVolume)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WaterVolume)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PerformanceRange)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PerformanceRange)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Mmo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Mmo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxRampWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxRampWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxTakeOffWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxTakeOffWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxLandingWeight)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxLandingWeight)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxFuelCapacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxFuelCapacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OverallLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OverallLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CabinLength)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CabinLength)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FuselageWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FuselageWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MaxCabinWidth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MaxCabinWidth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WingSpan)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WingSpan)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Height)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Height)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Track)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Track)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Wheelbase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Wheelbase)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
