@model IEnumerable<ASP.NETCore_Exercise10.Models.Aircraft>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ImageUrl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaxMaxSeating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypicalSeating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CargoD3capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxPalletNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WaterVolume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PerformanceRange)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mmo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxRampWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxTakeOffWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxLandingWeight)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxFuelCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OverallLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CabinLength)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FuselageWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxCabinWidth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WingSpan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Height)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Track)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Wheelbase)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ImageUrl)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaxMaxSeating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypicalSeating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CargoD3capacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxPalletNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WaterVolume)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PerformanceRange)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mmo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxRampWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxTakeOffWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxLandingWeight)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxFuelCapacity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OverallLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CabinLength)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FuselageWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxCabinWidth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WingSpan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Height)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Track)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Wheelbase)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
